
<div class="container">
  <h2> Device List</h2>


  <div class="demo-button-container">
    <button mat-raised-button (click)="addData()" class="demo-button">
      <mat-icon>add</mat-icon>
        Add Device
    </button>
  <img src="../../../assets/3pnt.png" alt="" [matMenuTriggerFor]="menu">
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/allProfiles">Manage Profile</button>
    <button mat-menu-item (click)="fileDownload()">Export CSV</button>
  </mat-menu>
  </div>
  <form method="post">
    <select name="" id="" (change)="selectChange($event)">
      <option value="Select A device">Select a device</option>
      <option value="Controller">Controller</option>
      <option value="Reader">Reader</option>
    </select>
  </form>

  <div *ngIf="dev ==='Controller'; else elseBlock">

  <br>
  <table class = "table table-striped">
      <thead>
          <tr>
              <th> Controller ID</th>
              <th> Name </th>
              <th> Statut </th>
              <th> Actions </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor = "let cont of controllers" >
              <td> {{ cont.id_cont }} </td>
              <td> {{ cont.nom_controlleur }} </td>
              <td> {{ cont.status }} </td>
              <td>
                <button  class = "btn btn-info" (click) = "updateDoor(cont.id_cont )"><mat-icon>create</mat-icon>Update</button>
                <button class = "btn btn-danger" style="margin-left: 10px" (click) = "deleteDoor(cont.id_cont )"><mat-icon >delete</mat-icon>Delete</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
<ng-template #elseBlock>
  <br>
  <table class = "table table-striped">
      <thead>
          <tr>
              <th> Reader ID</th>
              <th> IP Adresse </th>
              <th> Actions </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor = "let re of readers" >
              <td> {{ re.id_lecteur }} </td>
              <td> {{ re.ip_adresse }} </td>
              <td>
                <button  class = "btn btn-info" (click) = "updateDoor(re.id_lecteur)"><mat-icon>create</mat-icon>Update</button>
                <button class = "btn btn-danger" style="margin-left: 10px" (click) = "deleteDoor(re.id_lecteur)"><mat-icon >delete</mat-icon>Delete</button>
              </td>
          </tr>
      </tbody>
  </table>
</ng-template>
</div>
