
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

<div class="container">
  <section class="main">
      <section class="attendance" width="10%" height="10%">
        <div class="attendance-list">
        <h3 style="text-align: center;font-weight: bold;">{{dev}} List</h3><br>
        <div class="demo-button-container">
          <button mat-raised-button (click)="addData()" class="demo-button">
            <mat-icon>add</mat-icon>
              Add Device
          </button>
        <img src="../../../assets/3pnt.png" alt="" [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="fileDownload()">Export CSV</button>
        </mat-menu>
        </div>
        <form method="post">
          <select name="" id="" (change)="selectChange($event)">
            <option value="Reader">Reader</option>
            <option value="Controller">Controller</option>
            <option value="Waveshare">Waveshare</option>
          </select>
        </form>

      <div *ngIf="dev ==='Controller'">

        <br>
        <table class="table" >
          <thead>
            <tr>
              <th> Controller ID</th>
              <th> Name </th>
              <th> Statut </th>
              <th>IP Adresse</th>
              <th>Serial Number</th>
              <th>Departement</th>
              <th> Actions </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let cont of controllers" >
              <td> {{ cont.idCont }} </td>
              <td> {{ cont.nomCont }} </td>
              <td> {{ cont.status }} </td>
              <td> {{ cont.ipAdresse }} </td>
              <td> {{ cont.serial_Number }} </td>
              <td>{{cont.dept.nomDep}}</td>
              <td>
                <button  class = "btn btn-info" (click) = "updateCont(cont.idCont )"><mat-icon>create</mat-icon>Update</button>
                <button class = "btn btn-danger" style="margin-left: 10px" (click) = "deleteCont(cont.idCont )"><mat-icon >delete</mat-icon>Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


    <div *ngIf="dev ==='Reader'">
      <br>
      <table class="table" >
        <thead>
          <tr>
              <th> Reader ID</th>
              <th> IP Adresse </th>
              <th> Actions </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor = "let re of readers" >
              <td> {{ re.idLecteur }} </td>
              <td> {{ re.ipAdresse }} </td>
              <td>
                <button  class = "btn btn-info" (click) = "updateRea(re.idLecteur)"><mat-icon>create</mat-icon>Update</button>
                <button class = "btn btn-danger" style="margin-left: 10px" (click) = "deleteRea(re.idLecteur)"><mat-icon >delete</mat-icon>Delete</button>
              </td>
          </tr>
      </tbody>
    </table>
    </div>
    <div *ngIf="dev ==='Waveshare'">
      <br>
      <table class = "table ">
        <thead>
          <tr>
              <th> Waveshare name</th>
              <th> IP Adresse </th>
              <th> Status </th>
              <th> Actions </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor = "let w of waves" >
              <td> {{ w.nameDevice }} </td>
              <td> {{ w.adresse }} </td>
              <td> {{ w.status }} </td>
              <td>
                <button  class = "btn btn-info" (click) = "updateWave(w.adresse)"><mat-icon>create</mat-icon>Update</button>
                <button class = "btn btn-danger" style="margin-left: 10px" (click) = "deleteWave(w.adresse)"><mat-icon >delete</mat-icon>Delete</button>
              </td>
          </tr>
      </tbody>
    </table>
    </div>
        </div>
  </section>
</section>
</div>
