<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a routerLink="dashboard" class="brand">
      <img class="easy" src="../../../assets/easy.png"  alt="">
		</a>

    <br>
    <hr>
		<ul class="side-menu top">
			<li class="active">
				<a routerLink="dashboard">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a routerLink="alluser">
					<i class='bx bxs-group' ></i>
					<span class="text">Users</span>
				</a>
			</li>
			<li>
				<a [routerLink]="'alldevices'">
					<i class='bx bxs-devices' ></i>
					<span class="text">Devices</span>
				</a>
			</li>
			<li>
				<a [routerLink]="'alldoors'">
					<i class='bx bxs-door-open' ></i>
					<span class="text">Doors</span>
				</a>
			</li>
			<li>
				<a [routerLink]="'alldepartements'">
					<i class='bx bxs-group' ></i>
					<span class="text">Departements</span>
				</a>
			</li>
      <li>
				<a [routerLink]="'history'">
					<i class='bx bxs-lock' ></i>
					<span class="text">Alert History</span>
				</a>
			</li>
      <li>
				<a [routerLink]="'accessC'">
					<i class='bx bxs-lock' ></i>
					<span class="text">Access Control</span>
				</a>
			</li>
      <li>
				<a [routerLink]="'attendance'">
					<i class='bx bxs-show' ></i>
					<span class="text">Monitoring</span>
				</a>
			</li>
		</ul>
<br><br><br><br>
		<ul class="side-menu">
					<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text" onclick="logOut()">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
    <nav>
			<i class='bx bx-menu' ></i>
				<img src="../../../../assets/account.png" [matMenuTriggerFor]="menu" class="profile">
        <mat-menu #menu="matMenu" >
          <button mat-menu-item (click)="prof()"><i class='bx bxs-group' ></i>Profile</button>
          <a href="#" class="logout" mat-menu-item><i class='bx bxs-log-out-circle' ></i>
            <span class="text" onclick="logOut()">Logout</span>
          </a>
        </mat-menu>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<router-outlet></router-outlet>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
