
mat-sidenav-container {
  height: 100%;
  /*text-align: center;*/
}
mat-sidenav-container mat-sidenav mat-nav-list .menu-item {
  margin-left: 8px;
}
mat-sidenav-container mat-sidenav mat-nav-list .chevron-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
mat-sidenav-container mat-sidenav mat-nav-list .chevron-button.rotated {
  transform: rotate(180deg);
}
mat-sidenav{
  background-color: #2b273b;

}
span{
  color: #cec2c2;
  font-weight: bold;
  font-size: 18px;
}
mat-toolbar{
  background-color: #2b273b;

}

mat-toolbar div {
  margin-left: 90%;
}

.mat-nav-list,
.mat-list-item {
  color: #333;
}

.menu-item {
  margin-left: 8px;
}

.mat-list-item:hover{
  transform: translateY(-3px);
}

.mat-icon {
  color: #cec2c2;
}

a , .acc{
  width: 50px;
  margin-left: 94%;
}
p{
  position: absolute;
  font-size: 30px;
  color: #cec2c2;

}
.logo{
  display: re;
  width: 60%;
  margin: auto;
}





