<img class="wave" src="../../assets/wave.png">
	<div class="container">
		<div class="img">
			<img src="../../assets/bg.png">
		</div>
		<div class="login-content">
			<form method="post" [formGroup]="loginForm">
				<img src="../../assets/avatar.svg">
				<h2 class="title">Welcome</h2>
          <div class="input-div one">
           	<div class="i">
              <mat-icon>account_circle</mat-icon>
            </div>
           		   <div class="div">
           		   	<!--
                  <h5>Username</h5>
                  -->
           		   		<input type="text" class="input" placeholder="email" formControlName="email" >
           		   </div>
          </div>
           		<div class="input-div pass">
           		   <div class="i">
                  <mat-icon>lock</mat-icon>
                </div>
           		   <div class="div">
                  <!--
           		    	<h5>Password</h5>
                  -->
           		    	<input type="password" class="input" placeholder="password" formControlName="password" >
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
            	<button class="btn" type="submit" (click)="onSubmit(loginForm)">Login</button>
              <a routerLink="/register">Register?</a>

            </form>
        </div>
    </div>


<script type="text/javascript" src="../../assets/main.js"></script>
