<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

<div class="container">
  <section class="main">
      <section class="attendance" width="10%" height="10%">

          <button (click)="sendMessage()">Send</button>
        <br><br>

        <div class="attendance-list">
        <h3 style="text-align: center;font-weight: bold;">Real Time History</h3><br>
        <button mat-raised-button class="btnN" (click)="open(content)">
					<i class='bx bxs-filter-alt' ></i>
          Filter
        </button>
        <div class="btnCS">
          <button mat-raised-button (click)="stopWebSocket()" class="btnN" >
            <mat-icon>add</mat-icon>
            Stop
          </button>
          <button mat-raised-button (click)="ngOnInit()" class="btnN">
            <mat-icon>add</mat-icon>
            Start
          </button>
          <button mat-raised-button (click)="clear()" class="btnN">
            <mat-icon>add</mat-icon>
            Clear All
          </button>
        </div>
        <table class="table" >
          <thead>
            <tr>
              <th>History'ID</th>
              <th>Date</th>
              <th>Time</th>
              <th>Door</th>
              <th>Departement</th>
              <th>Event'ID</th>
              <th>Etat</th>
              <th>Cause</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let msg of socketMessages">
              <td>{{msg.data.idhis}}</td>
              <td>{{msg.data.date}}</td>
              <td>{{msg.data.time}}</td>
              <td>{{msg.data.nomporte}}</td>
              <td>{{msg.data.Departement}}</td>
              <td>{{msg.data.idevent}}</td>
              <td>{{msg.data.etat}}</td>
              <td>{{msg.data.cause}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </section>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Event Filter</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form method="post" [formGroup]="filterForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <h5>Date</h5>
        <div class="input-group">
          <label for="dateDeb">From :</label>&nbsp;
          <input
            id="dateDeb"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dateDeb"
            ngbDatepicker
            formControlName="dateDeb"
            type="date"
          />

          &nbsp;&nbsp;
          <label for="dateOfBirth">To :</label>&nbsp;&nbsp;
          <input
            id="dateOfBirth"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="datefin"
            ngbDatepicker
            formControlName="dateFin"
            type="date"
          />
        </div><br>
        <h5>Time</h5>
        <div class="input-group">
          <label for="timeDeb">From :</label>&nbsp;
          <input
            id="timeDeb"
            class="form-control"
            placeholder="HH:MM:ss"
            name="timeDeb"
            ngbDatepicker
            type="time"
            formControlName="timeDeb"

          />
          &nbsp;&nbsp;
          <label for="timeFin">To :</label>&nbsp;&nbsp;
          <input
            id="timeFin"
            class="form-control"
            placeholder="HH:MM:ss"
            name="timeFin"
            ngbDatepicker
            type="time"
            formControlName="timeFin"

          />
        </div><br>
        <div class="input-group">
          <label for="TypeEv">Event Type :</label>&nbsp;
          <input
            id="TypeEv"
            class="form-control"
            placeholder=""
            name="TypeEv"
            ngbDatepicker
            type="text"
            formControlName="typeEV"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
