<div class="container">
  <button (click)="sendMessage()">Send</button>
  <div class="demo-button-container">
    <button mat-raised-button (click)="stopWebSocket()" class="demo-button">
      <mat-icon>add</mat-icon>
Stop    </button>
    &nbsp;&nbsp;&nbsp;
    <button mat-raised-button (click)="ngOnInit()" class="demo-button">
      <mat-icon>add</mat-icon>
Start    </button>
<button mat-raised-button (click)="clear()" class="demo-button">
  <mat-icon>add</mat-icon>
Start    </button>Clear All
    <input class="my-input" type="text" name="search" placeholder="Search" >
    <img src="../../../assets/3pnt.png" alt="" [matMenuTriggerFor]="menu">
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/allProfiles">Manage Profile</button>
    <button mat-menu-item (click)="fileDownload()">Export CSV</button>
  </mat-menu>
  </div>
  <br>
  <table class = "table table-striped">
      <thead>
          <tr >
              <th> Event ID</th>
              <th> Date </th>
              <th> Door </th>
              <th> Department </th>
              <th> User </th>
              <th> Fvent </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let msg of messages">
            <td>{{ msg.data.idevent }} </td>
            <td>{{ msg.data.dateevnt }} </td>
            <td>{{ msg.data.idporte }} </td>
            <td>Dep I </td>
            <td> User i</td>
            <td>{{ msg.data.etatevt }} </td>
          </tr>
      </tbody>
  </table>
  </div>
