
<div class="container">

  <div class="demo-button-container">
    <button mat-raised-button (click)="openDialog()" class="demo-button">
      <mat-icon>add</mat-icon>
        Add Departement
    </button>
  <img src="../../../assets/3pnt.png" alt="" [matMenuTriggerFor]="menu">
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/allProfiles">Manage Profile</button>
    <button mat-menu-item (click)="fileDownload()">Export CSV</button>
  </mat-menu>
  </div>

  <br>
  <table class = "table table-striped">
      <thead>
          <tr>
              <th> Departement ID</th>
              <th> Name </th>
              <th> Doors </th>
              <th> Actions </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor = "let dep of depts" >
              <td> {{ dep.idDep }} </td>
              <td> {{ dep.nomDep }} </td>
              <td> 15 </td>
              <td>
                <button  class = "btn btn-info" (click) = "openDialogUp(dep.idDep)"><mat-icon>create</mat-icon>Update</button>
                <button class = "btn btn-danger" style="margin-left: 10px" (click) = "deletedept(dep.idDep)"><mat-icon >delete</mat-icon>Delete</button>
              </td>
          </tr>
      </tbody>
  </table>
  </div>
