<button mat-dialog-close> <mat-icon>close</mat-icon></button>
<mat-dialog-content>
  <header>
    <h1>Add Profile</h1>
    <br><br><br>
  </header>

    <form method="post" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <input placeholder="Name" type="text" name="NomProfile" formControlName="NomProfile" >
      <br><br><br>
      <button type="submit" class="my-buttonA">Apply</button>
      <button mat-dialog-close type="reset" class="my-buttonC">Cancel</button>

    </form>

</mat-dialog-content>
