

<div class="container">

  <div class="demo-button-container">
    <button mat-raised-button (click)="openDialog()" class="demo-button">
      <mat-icon>add</mat-icon>
        Add Profile
    </button>
  </div>

  <br>
  <table class = "table table-striped">
      <thead>
          <tr>
              <th> Profile ID</th>
              <th> Name </th>
              <th> Users </th>

          </tr>
      </thead>
      <tbody>
          <tr *ngFor = "let prof of profiles" >
              <td> {{ prof.idProf }} </td>
              <td> {{ prof.nomProfile }} </td>
              <td> 15</td>

          </tr>
      </tbody>
  </table>
  </div>
