<div class="container">
  <div class="title">
    Update Door
  </div>
  <form method="post" [formGroup]="doorForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <legend>Information</legend>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="my-input" placeholder="Enter your name" required formControlName="name">
      </div>
      <div class="form-group">
        <label for="email">Type</label>
        <input type="email" name="email" id="email" class="my-input" placeholder="Enter your email adress" required formControlName="type"  >
      </div>
      <div class="form-group">
        <label for="Controller">Controller</label>
        <select name="Controller" id="Controller" class="my-select" required formControlName="cont" (change)="selectChangeCont($event)">
          <option *ngFor="let c of controllers" value="{{c.idCont}}">{{c.nomCont}}</option>
        </select>
      </div>

      <div class="button-group">
        <br>
        <button type="submit" class="my-buttonA">Apply</button>
        <button type="reset" class="my-buttonC">Cancel</button>
      </div>
    </div>
  </form>
</div>
