<div class="container">
  <div class="title">
    update Door
  </div>
  <form method="post" [formGroup]="doorForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <legend>Information</legend>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="my-input" placeholder="Enter your name" required formControlName="name">
      </div>
      <div class="form-group">
        <label for="email">Type</label>
        <select name="Type" id="Type" class="my-select" required formControlName="type" (change)="selectChangeType($event)">
          <option value="">Select Type</option>
          <option value="Porte_Departement"> Porte Departement</option>
          <option value="Porte_Principal">Porte Principal</option>
        </select>
      </div>
      <div class="form-group">
        <label for="Departement">Departement</label>
        <select name="Departement" id="Departement" class="my-select" required formControlName="Departement" (change)="selectChangeCont($event)">
          <option *ngFor="let d of deptss" value="{{d.idDep}}">{{d.nomDep}}</option>
        </select>
      </div>

      <div class="button-group">
        <br>
        <button type="submit" class="my-buttonA">Apply</button>
        <button type="reset" class="my-buttonC">Cancel</button>
      </div>
    </div>
  </form>
</div>
