    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<main>
      <div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
				</div>
			</div>
      <!-- Main -->
        <ul class="box-info">
          <li>
            <i class='bx bxs-group' ></i>
            <span class="text">
              <h3>66</h3>
              <p>User</p>
            </span>
          </li>
          <li>
            <i class='bx bxs-group' ></i>
            <span class="text">
              <h3>6</h3>
              <p>Departement</p>
            </span>
          </li>
          <li>
            <i class='bx bxs-door-open' ></i>
            <span class="text">
              <h3>30</h3>
              <p>Door</p>
            </span>
          </li>
          <li>
            <i class='bx bxs-bell' ></i>
            <span class="text">
              <h3>204</h3>
              <p>Alert</p>
            </span>
          </li>
        </ul>
        <div class="charts">
          <div class="charts-card">
            <h2 class="chart-title">Title Chart 2</h2>
            <div id="area-chart">
              <div class="chart-container">
                <canvas  id="MyChart3" >{{ lineChart }}</canvas>
              </div>
            </div>
          </div>
          <!--Pie chart-->
          <div class="charts-card">
            <h2 class="chart-title">Daily Alarm</h2>
            <div id="area-chart">
              <div class="chart-container">
                <canvas  id="MyChart2" >{{ pie }}</canvas>
              </div>
            </div>
          </div>
        </div>
        <!--Line chart-->
        <div class="charts">
          <div class="charts-card">
            <h2 class="chart-title">Title Chart 1</h2>
            <div id="bar-chart">
              <div class="chart-container">
                <canvas  id="MyChart">{{ chart }}</canvas>
              </div>
            </div>
            <br><br>
          </div>

        </div>
      <!-- End Main -->
    </main>
